<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675104534358-3vl00e2m1e27adtkcqftb6mdmn13nl13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675104534358-3vl00e2m1e27adtkcqftb6mdmn13nl13</string>
	<key>API_KEY</key>
	<string>AIzaSyBdxFK0fV70GKZU6XR5VQD1AgSokIDXLdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>675104534358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurgul.store</string>
	<key>PROJECT_ID</key>
	<string>nurgul-app-d61e3</string>
	<key>STORAGE_BUCKET</key>
	<string>nurgul-app-d61e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675104534358:ios:1855746050ec3814cdf0f7</string>
</dict>
</plist>